*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

header{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.top-bar{
    background-color: #7bc9eb;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    background-color: #6a89cc;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    display: flex;
    align-items: center;
}

header .logo img{
    height: 50px;
    margin-right: 15px;
}

header .logo span{
    font-size: 15px;
    line-height: 1.3;
    font-weight: bold;
    color: #333;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav li{
    margin: 0 20px;
}

header nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

header nav a:hover{
    color: #ddd;
}

header .user-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .user-profile #profile-pic-preview{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

header .user-profile-text{
    font-size: 16px;
    line-height: 1.3;
    color: #333;
    font-weight: bold;
}

header .user-profile-text span{
    display: block;
}

header .user-profile-text #profile-status{
    font-weight: normal;;
}